body {
    color: rgb(210, 159, 30);
    background-color: purple;
}

h1 {
    font-size: 60px;
    text-align: center;
}

#form {
    width: 600px;
    height: 450px;
    background-color: rgb(40, 40, 40);
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#form input {
    display: block;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 30px;
    box-shadow: 10px 10px 10px rgb(101, 101, 101);
}

#form label {
    font-size: 40px;
    padding-left: 20px;
    font-weight: bold;
}

#form input[type="submit"] {
    width: 50%;
    height: 50px;
    margin-left: 140px;
    background-color: rgb(210, 159, 30);
    color: black;
    border: none;
    font-size: 30px;
    border-radius: 10px;
}

#form input[type="submit"]:hover {
    opacity: 0.4;
    cursor: pointer;
}

#form input[type="submit"]:active {
    opacity: 0.8;
    cursor: pointer;
}

#list {
    background-color: rgb(60, 60, 60, 0.8);
    width: 600px;
    height: 600px;
    margin: auto;
    color: rgb(210, 159, 30);
}

footer {
    font-size: 30px;
}

div {
    border-radius: 20px;
}

h2 {
    font-size: 40px;
    padding-left: 20px;
    padding-top: 20px;
}

ol {
    font-size: 30px;
    margin-left: 30px;
}