<h1>Edit Task</h1>
<div id="form">
    <form method="POST">
        <label for="todo">To Do:</label>
        <input type="text" name="todo" id="todo" value="{{task.todo}}"/>
        <label for="date">Date:</label>
        <input type="date" name="date" id="date" value="{{task.date}}"/>
        <label for="time">Time:</label>
        <input type="text" name="time" id="time" value="{{task.time}}"/>
        <input type="submit" value="Update" />
    </form>
</div>